<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>
  <meta charset="utf-8"/>
  <title>Volunteers</title>
  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Surname</th>
    <th>Telephone</th>
  </tr>
  </thead>
  <tbody th:each="volunteer : ${volunteers}">
  <tr>
    <td th:text="${volunteer.id}"></td>
    <td th:text="${volunteer.name}"></td>
    <td th:text="${volunteer.surname}"></td>
    <td th:text="${volunteer.telephone}"></td>
  </tr>
  </tbody>
</table>


</body>
</html>